
/* start service booking css  */

.break_word {
    word-break: break-word;
}

.separetor {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid rgba(200, 200, 200, 0.53);
    width: 100%;
}

/*Task Color*/
.bg_holiday {
    background: #e00f1a  !important;
}

.bg_done{
    background: #0eac51 !important;
}
.bg_approved {
    background: #0077c0 !important;
}

.bg_pending {
    background: #f1892d !important;
}

.bg_processing {
    background: #07aba0 !important;
}

.bg_cancel {
    background: #e74c3c !important;
}

.bg_new {
    background: #495bff !important;

}
/*Task Color End*/
#highlight-color {
    margin-bottom: 10px;
}

#highlight-color > div {
    float: left;
    margin-right: 30px;
}

#highlight-color > div > span.text {
    font-size: 16px;
    font-weight: 500;
    top: -2px;
    position: relative;
}

#highlight-color > div > span.color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 3px;
}

.resource-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #FFF;
    float: left;
    margin-top: -7px;
}

.resource-name {
    float: left;
    color: #011F3B;
    padding-top: 0px !important;
}

    .resource-name span {
        color: #83919E;
        font-size: 12px;
        padding: 0 !important;
        font-weight: normal;
    }

.text-truncate-2 {
    overflow: hidden;
    display: -o-box;
    display: -moz-box;
    display: -webkit-box;
    -o-line-clamp: 3;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    -o-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}

.sc_Bar > .text > .task_title {
    overflow: hidden;
    display: -o-box;
    display: -moz-box;
    display: -webkit-box;
    -o-line-clamp: 3;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    -o-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}

#scheduleContent > div {
    background: #fff;
    padding: 5px 18px 18px 20px;
    box-shadow: 0px 0px 4px 2px #eaeaea;
    
}
#task-details-modal .modal-dialog {
    max-width: 450px;
}
#task-details-body {
    padding-bottom: 50px;
}
#task-details-body-wrap {
    margin-bottom: 15px;
}
#task-details-body-wrap-user {
    background: radial-gradient(122.27% 198.92% at -22.27% -27.38%, #0070BA 0%, #1546A0 100%);
    border-radius: 5px 5px 0px 0px;
    position: relative;
    margin-top: 50px;
    text-align: center;
    min-height:110px;
}
#task-details-body-wrap-user h4, #task-details-body-wrap-user p {
    position: inherit;
}    
#task-details-body-wrap-user img {
    border: 5px solid rgba(0, 122, 254, 0.09);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
}
#task-details-body-wrap-user h4 {
    color: #FFFFFF;
    margin: 10px 0 3px 0;
}
#task-details-body-wrap-user p {
    font-family: helvetica !important;
    color: #F5F6F9;
    margin: 0;
}
#task-details-body-wrap-task {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
    margin-bottom:10px;
}
#task-details-body-wrap-task .hour-split {
    display: inline-block;
    height: 14px;
    border: 1px solid #dfdfdf;
    top: 2px;
    position: relative;
    margin: 0 3px 0 4px;
}
#task-details-body-wrap-task > p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.5);
    color: #011F3B;
    margin: 0;
    padding: 5px 10px;
}
#task-details-body-wrap-task > p:last-child {
    border-bottom: none !important;
}
#task-details-body-wrap-task > p > span {
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
}
#task-details-body button {
    border: 1px solid rgba(191, 191, 191, 0.44);
    box-sizing: border-box;
    border-radius: 3px !important;
    background:#FFFFFF !important;
}

.timeline:before {
   background: none;
}

#schedule > .sc_menu:nth-child(2) > .sc_header_cell{
    /* background: #4488d2; */
    background: #5E5873;
}
#iPrvDate, #iFilterPrvDate{
    background:#007bff;
    padding: 5px 8px 4px 7px;
    border-radius: 24px;
    cursor: pointer;
    color: #fff;
    height: 25px;
    width: 26px;
}

#iNextDate,#iFilterNextDate{
    background:#007bff;
    padding: 5px 5px 4px 9px;
    border-radius: 24px;
    cursor: pointer;
    color: #fff;
    height: 25px;
    width: 26px;
}
#iPrvDate:hover, #iFilterPrvDate:hover{
    background:#499df6;
}

#iNextDate:hover, #iFilterNextDate:hover{
    background:#499df6;
}

#divPreNext{
    width: 60px;
}

/* end service booking css */




/* start schedule add css */

.xdsoft_datetimepicker{
    float: left;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#serviceDate{
    width: 242px;
    margin-bottom: 0;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    background: #fff !important;
    color: #000;
    font-weight: bold;
    border-color: #a8a8a8!important;
}
#divTopDays{
    padding-top: 18px !important;
}

#divDaysName{
    font-weight: 400;
    font-size: 17px;
    color:#007bff;
}
.divStartTime{
    padding-top: 3px;
    font-size: 14px;
}

#divServiceAvaiableTime{
    border: 1px solid #dbdbdb;
    height: 220px;
    border-radius: 2px;
    padding: 7px;
    overflow-y: auto;
}

.divServiceAvaiable{    
    padding: 15px;
    padding-top: 6px;

}

.divTimeSlot{
    float: left;
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    margin: 3px 3px;
    padding: 7px 7px;
    background: #fefefe;
    font-weight: 600;
    color: #666363;
    box-shadow: 1px 1px 3px -2px;
    cursor: pointer;
    min-width: 111px;
}

.divTimeSlotActive{
    color: #fff !important;
    background: #007bff !important;
    border-color: #007bff !important;
    border-radius: 2px;
}

.divTimeSlotActive:hover{
    color: #fff;
    background: #0b66c8 !important;
    border-color: #0b66c8 !important;
    border-radius: 2px;
}

.divTimeSlot:hover{
    background: #f5f5f5;
}

.divSelectedService{
    color: #fff;
    border-radius: 2px;
    text-align: left;
    padding: 4px 15px;
    background: #007bff;
    margin-left: 4px;
}
.xdsoft_datetimepicker {
    height: 214px;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current{
    background:#007bff !important;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
    color: #007bff;
}
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
border: none;
background: none;
}

.serviceTime{
    margin: 5px 3px;
}
.payment-radio{
    width: 16px;
    height: 16px;
    margin-top: 2px;
    cursor: pointer;
}

.color-black{
    color: #000 !important;
}
.border-red{
    border: 2px solid red !important;
}

.disabled-service{
    background: #eeeeee;
    border: 1px solid #d8d1d1;
    color: red;
}
.disabled-service-text{
    text-decoration: line-through !important;
}
.color-success{
    color: #3ac259;
}
@media only screen and (max-width: 768px) {
    .divTimeSlot  {
      width: 46% !important;
    }
    #divServiceCalendar{
        display: none;
    }    
    .filter-item{
        margin-bottom: 5px !important;
    }
  }

  @media only screen and (max-width: 1024px) {
    #divPreNext{
        display: none;
    }
  }


/* end schedule add css */

#modalAddCustomer .modal-content{
    border: 1px solid #f2f0f0 !important;
    box-shadow: 0px 0px 8px 1px #a29f9f;
}

#topScheduleContent{
    overflow-x: auto;
}

#scheduleContent{
    min-width: 700px;
}

#add-service-btn {
    padding: 3px 9px;
    font-size: 14px;
}
#tbl-service-cart thead tr{
    background: #007bff1a;
}

#tbl-service-cart{
    border: 1px solid #f1f1f1 !important;
    margin-top: 15px;
    width: 100%;
}

#tbl-service-cart thead tr th{
    height: 35px !important;
}

#tbl-service-cart td{
    height: 45px !important;
}

#tbl-service-cart thead tr th:first-child{
    width: 8px !important;
}

.modal-lg{
   max-width:900px !important;
}

#tbl-service-cart th, #tbl-service-cart td {
    padding: 2px 5px !important;
}

